<div class="container">
    <div>
        <h3>Experiences</h3>
        <div *ngFor="let experience of experienceModules">
            <mat-card>
                <mat-card-title> {{experience.title}} at {{experience.company}} </mat-card-title>
                <mat-card-content>
                    <p>
                        {{experience.dates}} <br>
                        {{experience.details}} <br></p>
                    <button class="technology-button" *ngFor="let item of experience.technologies" disabled>{{item}}</button>
                </mat-card-content>
            </mat-card>
            <br>
        </div>
    </div>
    <br>
    <div>
        <h3>Education</h3>
        <mat-card>
            <mat-card-title>Bachelor's Degree in Industrial Electronics and Automation Engineering</mat-card-title>
            <mat-card-content>
                <p>University of Vigo.</p>
            </mat-card-content>
        </mat-card>
        <br>
    </div>
    <br>
    <div>
        <h3>Languages</h3>
        <mat-card>
            <mat-grid-list cols="3" rowHeight="50px">
                <mat-grid-tile>
                    <div class="language-container">
                        <p>Spanish</p>
                        <div class="progress-bar" style="--progress: 100%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>Galician</p>
                        <div class="progress-bar" style="--progress: 100%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>English</p>
                        <div class="progress-bar" style="--progress: 60%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>French</p>
                        <div class="progress-bar" style="--progress: 30%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>Portuguese</p>
                        <div class="progress-bar" style="--progress: 20%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>Italian</p>
                        <div class="progress-bar" style="--progress: 20%;"></div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </div>
</div>