<div class="background">
    <div class="row">
        <a mat-stroked-button href="/assets/Raquel_Blanco_Carballo.pdf"> <i class="bi bi-filetype-pdf"></i> Download my resume</a>
    </div>
    <br><br>
    <div>
        <h3>Languages</h3>
        <mat-card>
            <mat-grid-list cols="2" rowHeight="50px">
                <mat-grid-tile>
                    <p>Spanish <img src="https://progress-bar.dev/100" /></p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Galician <img src="https://progress-bar.dev/100" /></p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>English <img src="https://progress-bar.dev/60" /></p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>French <img src="https://progress-bar.dev/20" /></p>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </div>
    <br><br>
    <div>
        <h3>Education</h3>
        <mat-card>
            <mat-card-title> 🎓 Degree in Industrial and Automatic Electronic Engineering at Universidade de Vigo <br></mat-card-title>
            <mat-card-content><p>
                September 2014 - September 2020 <br>
                Being part of the Staff at the Industrial Automation Conference (JAI) <br></p>
            </mat-card-content>
        </mat-card>
        <br>
    </div>
    <br><br>
    <app-experiences></app-experiences>
</div>