<div class="container">
    <div>
        <h3>Languages</h3>
        <mat-card>
            <mat-grid-list cols="3" rowHeight="50px">
                <mat-grid-tile>
                    <div class="language-container">
                        <p>Spanish</p>
                        <div class="progress-bar" style="--progress: 100%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>Galician</p>
                        <div class="progress-bar" style="--progress: 100%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>English</p>
                        <div class="progress-bar" style="--progress: 60%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>French</p>
                        <div class="progress-bar" style="--progress: 30%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>Portuguese</p>
                        <div class="progress-bar" style="--progress: 30%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>German</p>
                        <div class="progress-bar" style="--progress: 10%;"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="language-container">
                        <p>Italian</p>
                        <div class="progress-bar" style="--progress: 20%;"></div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </div>

    <br><br>
    <app-experiences></app-experiences>
    <br><br>
    <div>
        <h3>Education</h3>
        <mat-card>
            <mat-card-title> Bachelor Degree in Industrial and Automatic
                Electronic
                Engineering <br></mat-card-title>
            <mat-card-content>
                <p>
                    Universidade de Vigo. September 2014 - September 2020 <br>
                </p>
            </mat-card-content>
        </mat-card>
        <br>
    </div>
</div>