@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #748E63;
    color: #EBF3E8;
    font-family: "Lucida Console";
    font-size: 15px;
}

.background {
    margin: 10% 20% 10% 20%;
}

h1 {
    font-weight: 600 !important;
    font-size: 70px !important;
    text-transform: uppercase !important;
}

h2 {
    font-weight: 600 !important;
    font-size: 30px !important;
    text-transform: uppercase !important;
}

h3 {
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

button {
    background-color: #EBF3E8;
    color: #748E63;
    border: 1px solid #EBF3E8;
    border-radius: 5px;
    padding: 5px 15px;
}

mat-card {
    padding: 2%;
    border: 2px solid #D2E3C8 !important;
    background-color: #748E63 !important;
}