@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
    --primary-color: #94A684;
    --contrast-color: #E4E4D0;
    --font-color: #FFEEF4;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: "Lucida Console";
}

.container {
    padding: 5% 10% 10% 10%;
}

h1 {
    font-size: 70px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

h2 {
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

h3 {
    font-weight: 600 !important;
}

.navbar {
    margin-right: 5%;
    margin-top: 5%;
    color: var(--font-color);
}

.custom-link {
    color: var(--font-color);
    font-weight: 600 !important;

}

.custom-link.active {
    color: var(--contrast-color) !important;
}

a {
    text-decoration: none;
}

button {
    background-color: var(--font-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.technology-button {
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 5px;
}

mat-card {
    padding: 2%;
    color: var(--font-color) !important;
    border: 2px solid var(--font-color) !important;
    background-color: var(--primary-color) !important;
    border-radius: 5px !important;
}

.language-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    gap: 10px;
}

.language-container p {
    margin: 0;
    flex: 1;
    text-align: end;
    width: 100px;
}

.progress-bar {
    width: 80px;
    height: 20px;
    background-color: #E0E0E0;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
}

.progress-bar::after {
    content: '';
    display: block;
    height: 100%;
    width: var(--progress);
    background-color: #A3D977;
    transition: width 0.3s ease-in-out;
}