<div class="background">
  <h4>Hi, my name is</h4>
  <h1>Raquel</h1>
  <h3>I'm a Software Engineer</h3>
  <div class="flex-container">
    <div class="button-container">
      <a mat-mini-fab href="tel:+34608841234" style="background-color: #FAF8ED">
        <mat-icon>phone</mat-icon>
      </a>
    </div>
    <div class="button-container">
      <a mat-mini-fab href="mailto:raquelbc2996@gmail.com" style="background-color: #FAF8ED">
        <mat-icon>mail</mat-icon>
      </a>
    </div>
    <div class="button-container">
      <a mat-mini-fab href="https://www.linkedin.com/in/raquel-blanco-carballo-427a46100" style="background-color: #FAF8ED"><i id="linkedin" class="bi bi-linkedin"></i>
      </a>
    </div>
  </div>
</div>

<div class="area">
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
</div >
