<div class="background">
  <h4>Hi, my name is</h4>
  <h1>Raquel Blanco Carballo</h1>
  <h2>Software Engineer</h2>
  <div class="flex-container">
    <div class="button-container">
      <a mat-mini-fab href="tel:+34608841234">
        <mat-icon>phone</mat-icon>
      </a>
    </div>
    <div class="button-container">
      <a mat-mini-fab href="mailto:raquelbc2996@gmail.com">
        <mat-icon>mail</mat-icon>
      </a>
    </div>
    <div class="button-container">
      <a mat-mini-fab href="https://www.linkedin.com/in/raquel-blanco-carballo-427a46100"><i id="linkedin" class="bi bi-linkedin"></i>
      </a>
    </div>
  </div>
</div>

<div class="area">
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
</div >
