<div class="container">
  <h3>Hi, my name is</h3>
  <h1>Raquel</h1>
  <h2>Full-Stack Developer located in Madrid,</h2>

  <div class="d-flex flex-row">
    <a href="mailto:raquelbc2996@gmail.com">
      <button mat-mini-fab
        style="background-color: #FAF8ED; margin-right: 40px;">
        <mat-icon>mail</mat-icon>
      </button>
    </a>
    <a href="https://www.linkedin.com/in/raquel-blanco-carballo-427a46100" target="_blank">
      <button mat-mini-fab
        style="background-color: #FAF8ED; margin-right: 40px;">
        <i class="bi bi-linkedin"></i>
      </button>
    </a>
    <a href="https://github.com/raquelbcarballo" target="_blank">
      <button mat-mini-fab style="background-color: #FAF8ED; margin-right: 40px;">
        <i class="bi bi-github"></i>
      </button>
    </a>
  </div>
</div>

<app-animation></app-animation>
